body{
    margin: auto;
    background-color: forestgreen;
}


#kozep{
    margin: auto;
    background-color: white;
}


#content{
	width: 888px;
    padding-left: 15px;
}
#imageright{
	margin-left: 20px;
    width: 300px;
    float: right;
    height: 400px;
    border-radius: 10%;
    border: 2px forestgreen solid;
    background-color: wheat;
}

#imageright2{
    display: none;
    margin-left: 20px;
    width: 300px;
    float: right;
    height: 400px;
    border-radius: 10%;
    border: 2px forestgreen solid;
    background-color: wheat;
}

#imagerightimg{
    width: 300px;
    height: 350px;
    border-radius: 10%;
}


#imageleft{
	margin-right: 40px;
    margin-bottom: 80px;
    float: left;
    height: 350px;
    border-radius: 10%;
    border: 2px forestgreen solid;
    background-color: wheat;
    display: block;
}

#imageleft2{
	margin-right: 40px;
    margin-bottom: 80px;
    float: left;
    height: 350px;
    border-radius: 10%;
    border: 2px forestgreen solid;
    background-color: wheat;
    display: none;
}

#imageleftimg{
    height: 300px;
    border-radius: 10%;
}
.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}

h1, h2{
    color: forestgreen;
    text-transform: uppercase;
}

ul{
    text-align: justify;
    list-style-type: square;
}

a,a:visited{
    text-transform: none;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

a:hover{
    color: red;
}

#kiemeles{
    font-style: italic;
    font-weight: bold;
}
